* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Inter", Arial, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #1e1e2f;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

article {
  background-color: #14285b;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
main {
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #14285b;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

header h1 {
  margin: 2rem 0 1rem 0;
  font-size: 1.8rem;
  color: #3b82f6;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;

}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bcd4;
}

.avatar-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(135deg, #3b82f6, #131131);
}
h1.about {
  color: #00e5ff;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center  ;
 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
}


input, textarea {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

input:focus, textarea:focus {
  border: 2px solid #00bcd4;
  background: #f0f8ff;
  color: #000;
}

button {
  background: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0097a7;
}

.error {
  color: #ff6b6b;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.success {
  color: #00e676;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

figure {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

figure h1 {
  color: #3b82f6;
  font-size: 1.5rem;
}

figure p {
  color: #d1d5db;
  font-size: 0.95rem;
}

figure .time {
  color: #a4aab3;
  font-size: 0.95rem;
  margin-top: -0.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}

figure .time span {
  font-weight: 500;
  color: #d1d5db;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
  list-style-type: none;
}

nav a svg {
  transition: transform 0.3s, color 0.3s;
  color: #d1d5db;
}

nav a:hover svg {
  transform: scale(1.2);
  color: #3b82f6;
}
.connect {
  color: #3b82f6;
}

section {
  background-color: #020917;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}

section h1 {
  color: #3b82f6;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.hobbies ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.8rem;
}

.hobbies li {
  color: #d1d5db;
  font-size: 0.95rem;
  transition: color 0.3s;
}

section {
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 10px;
}

section h2 {
  color: #1ee1d3;
  margin-top: -5px;
  margin-bottom: 12px;
  font-size: 1.3rem;
  border-left: 4px solid #1ee1d3;
  padding-left: 10px;
  text-transform: capitalize;

}

ul {
  list-style-type: disc;
  /* padding-left: 1.5rem; */
}

section p,
section li {
  font-size: 1rem;
  color: #e9f1fa;
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  section h1 {
    text-align: left;
  }

  figure {
    font-size: 1.2rem;
  }

  figure h2 {
    font-size: 2rem;
  }

  figure p,
  figure .time {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  article, main {
    padding: 0.5rem; 
    margin: 1rem;
    width: 100%;
  }

  .navbar {
    align-items: center;
    gap: 2.12rem;
    width: 100%;
    /* padding: 1.8rem 6rem; */

  }

  input, textarea, button {
    font-size: 0.95rem;
  }
}
